body {
  font: 13px monospace;
}

.todos ul {
  list-style: none;
  padding: 0;
}

.todos .todo.done {
  text-decoration: line-through;
}

a {
  text-decoration: none;
}

.src {
  margin-top: 200px;
  border-top: solid 1px #CCC;
  padding-top: 15px;
}

.src:before {
  content: 'Source: ';
}

.build:before {
  content: 'Build: ';
}